.select {
   min-width: 0;
   position: relative;
   max-width: toRem(300);
   // .select__body
   &__body {
      position: relative;
   }
   // .select__title
   &__title {
      color: inherit;
      text-align: left;
      border: toRem(1) solid #d9d9d9;
      background-color: #fff;
      cursor: pointer;
      width: 100%;
      border-radius: toRem(4);
      padding: toRem(10) 0 toRem(5) 0;
   }

   &__flag-icon {
      flex: 0 0 auto !important;
   }
   // .select__value
   &__value {
      display: flex;
      min-width: 0;
      align-items: center;
      height: toRem(30);
      padding: 0 toRem(15);
      gap: toRem(10);
      & > * {
         flex: 1 1 auto;
      }
      &:after {
         content: "";
         flex: 0 0 toRem(20);
         width: toRem(20);
         height: toRem(20);
         background-image: url("data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBoZWlnaHQ9IjIwMHB4IiB3aWR0aD0iMjAwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjQ4IiBkPSJtMTEyIDE4NCAxNDQgMTQ0IDE0NC0xNDQiPjwvcGF0aD48L3N2Zz4=");
         background-size: contain;
         background-repeat: no-repeat;
         transition: all 0.3s ease 0s;
         display: flex;
         justify-content: center;
         align-items: center;
         ._select-open & {
            // transform: rotate(-180deg);
            transform: scale(1, -1);
         }
      }
      &._select-pseudo-label {
         &::before {
            content: attr(data-pseudo-label);
            opacity: 0.5;
         }
      }
   }
   // .select__content
   &__content {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   // .select__text
   &__text {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   &__input {
      width: 100%;
      background-color: transparent;
      height: 100%;
   }
   // .select__options
   &__options {
      color: #000;
      position: absolute;
      top: calc(100% - toRem(1));
      border-radius: 0 0 toRem(4) toRem(4);
      min-width: 100%;
      left: 0;
      background-color: #fff;
      border-top: 0;
      border: toRem(1) solid #d9d9d9;
      border-top: 0;
      padding: toRem(10) 0 toRem(5) 0;
   }
   // .select__scroll
   &__scroll {
      overflow-y: auto;
      overflow-x: hidden;
      // Максимальна висота
      max-height: toRem(200);
      // Стилі скроллбару
      .simplebar-scrollbar {
         &::before {
            //opacity: 1;
         }
      }
   }
   // .select__option
   &__option {
      width: 100%;
      text-align: left;
      cursor: pointer;
      padding: toRem(5) toRem(15);
      color: inherit;
      &._select-selected {
         background-color: #eee;
      }
      .select-countries & {
         display: flex;
         align-items: center;
         gap: toRem(10);
         span {
            display: inline-block;
            &::before {
               display: inline-block;
               flex: 0 0 30px;
            }
         }
      }
      @media (any-hover: hover) {
         &:hover {
            background: #d9d9d9;
         }
      }
   }

   // Конструкція додаткових даних
   &__row {
      display: inline-flex;
      align-items: center;
   }
   &__asset {
   }
   &__text {
   }

   &--show-top {
      .select__options {
         top: auto;
         bottom: calc(100% - toRem(1));
         border: toRem(1) solid #d9d9d9;
         border-bottom: 0;
         border-radius: toRem(4) toRem(4) 0 0;
         padding: toRem(5) 0 toRem(10) 0;
      }
   }

   // Стан селекту
   &._select-open {
   }
   &._select-disabled {
   }
   &._select-active {
   }
   &._select-focus {
   }
   &._select-multiple {
   }
   &._select-checkbox {
   }
}

// Тег
._select-tag {
   cursor: pointer;
}
