// todo => Global Settings!
$fontFamilyMain: "";
$fontFamilySecondary: "";
// $fontSize: toRem(16);

// minimum page width
$minWidth: 320;
// The width of the canvas (layout)
$maxWidth: 1920;
// The width of the restrictive container (0 = no restriction)
$maxWidthContainer: 1290;
// General indentation from a container
// (30 = 15px left and right, 0 = no retreat)
$containerPadding: 30;
