<div class="spoiler" data-spoiler>
   <div class="spoiler__panel" data-spoiler-title>
      <div class="spoiler__text">Title</div>
      <span class="spoiler__icon">
         <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"></polyline></svg>
      </span>
   </div>
   <div class="spoiler__content" data-spoiler-content>
      <div class="spoiler__body">
         Content
      </div>
   </div>
</div>