<div class="spoiler" data-spoiler @@if(typeof state !== 'undefined') { @@state } @@if(typeof group !== 'undefined') { @@group } @@if(typeof resizes !== 'undefined') { @@resizes }>
   <div class="spoiler__panel" data-spoiler-title>
      <div class="spoiler__text">Title</div>
      <span class="spoiler__icon">
         <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"></polyline></svg>
      </span>
   </div>
   <div class="spoiler__content" data-spoiler-content>
      <div class="spoiler__body">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nam delectus recusandae eos culpa autem rem aut magnam velit quia, placeat voluptatibus ea dicta quisquam consequuntur nesciunt ut dolorum! Voluptas at ut excepturi veniam perferendis illo aperiam sequi accusamus velit, a reiciendis recusandae doloribus obcaecati placeat dolorem voluptatem facere consequatur tempore soluta! Qui eaque dolorum saepe esse vero officiis, odit
         mollitia sunt voluptatem odio. Corrupti molestiae tempora deserunt natus itaque iure facere repellendus tempore ut. Saepe rem quia sunt deleniti reiciendis harum sequi, doloribus itaque accusantium ducimus expedita repellendus maxime aut nihil qui quam iste odio doloremque laborum perspiciatis voluptatem explicabo laudantium eligendi? Cupiditate officiis odit harum, architecto, ex blanditiis voluptates dolores corrupti accusantium
         asperiores necessitatibus rem doloribus provident. Quod, autem odit quam molestias deserunt ipsum. Ducimus saepe voluptatem doloribus quas quam, nisi consectetur beatae laudantium atque unde, quo magni iste enim temporibus delectus rem dignissimos optio! Adipisci dolor expedita odio provident, pariatur ducimus. Dolore esse unde ipsam, hic molestias dignissimos, itaque vel voluptatem saepe deleniti obcaecati. Sit eaque nostrum harum
         distinctio neque corporis vero, atque obcaecati, quia amet quod ipsa qui consequuntur minus facilis autem similique ducimus, reprehenderit itaque voluptatem tenetur numquam! Architecto amet a, accusantium inventore soluta praesentium.
      </div>
   </div>
</div>