body {
   // The scroll is blocked
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   // The site is downloaded
   .loaded & {
   }
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   // We press Footer
   > main {
      flex: 1 1 auto;
   }
   // Fix for sliders
   > * {
      min-width: 0;
   }
}

//========================================================================================================================================================

.form {
   padding: toRem(100) 0;

   input {
      border: toRem(1) solid #000;
      width: toRem(300);
      height: toRem(35);
      padding: toRem(5) toRem(20);
   }

   button {
      border-radius: toRem(40);
      padding: toRem(10) toRem(20);
      background: red;
      color: #fff;
   }
}
